*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 95%;
    margin: 70px auto;
}

/* ------navbar------ */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0.5px 5px #ccc;
    position: sticky;
    top: 0;
    z-index: 2;
    position: sticky;
    top: 0;
    z-index: 2;
}

 nav .menu{
    font-size: 25px;
    cursor: pointer;
    display: none;
 }

nav .nav-left a{
    font-size: 18px;
    color: black;
    transition: 0.5s;
    padding: 10px;
    letter-spacing: 3px;
}

nav .nav-left a:hover{
    background-color: #ccc;
}

nav .nav-left a span{
    font-weight: bold;
    margin-right: 5px;
}

nav .nav-right ul li{
    display: inline-block;
    margin: 10px;
}

nav .nav-right ul a{
    font-size: 18px;
    color: black;
    transition: 0.5s;
    padding: 10px;
    letter-spacing: 3px;
}

nav .nav-right ul a:hover{
    background-color: #ccc;
}

/* ------header------- */

header{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0.5px 0px 5px #ccc;
    height: 100vh;
    background-image: url(imgs/header.jpg);
    background-size: cover;
    position: relative;
}

header h2{
    font-size: 35px;
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
}

header h2 span{
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    opacity: 0.7;
}

/* ------projects------ */

.projects-imgs{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.house{
    width: 24%;
    position: relative;
}

.house p{
    position: absolute;
    top: 0;
    background-color: black;
    color: white;
    padding: 10px;
}

.house img{
    width: 100%;
}

hr{
    margin: 7px 2px;
    opacity: 0.2;
}

/* -----about----- */

.p1{
    line-height: 1.5;
    font-size: 18px;
    color: grey;
}

.characters{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.character{
    width: 24%;
}

.character > *{
    margin-bottom: 10px;
}

.character img{
    width: 100%;
}

.character h3{
    opacity: 0.5;
}

.p2{
    line-height: 1.5;
}

.character button{
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-style: none;
    transition: 0.5s;
}

.character button:hover{
    background-color: #ccc;
}

/* ------contact-------- */

.contact p{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contact input{
      width: 97%;
      margin-top: 10px;
      padding: 10px;
      outline: none;
  }
  .contact button{
      margin-top: 20px;
      padding: 10px;
      background-color: #000;
      color: #fff;
      font-size: 18px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.5s;
  }
  .contact button:hover{
      background-color: #ccc;
      color: #000;
  }

/* -------map--------- */
  
   .map img{
    width: 100%;
}

/* -------footer----- */

footer{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

 @media screen and (max-width : 480px){
      nav{
          padding: 20px;
      }
      nav .nav-right ul{
          display: none;
      }
      nav .menu{
          display: block;
      }
  
      header h2{
          left: 10%;
      
      }
      .houses{
          flex-direction: column;
      }
      .house{
          width: 100%;
      }
  
      .chars{
          flex-direction: column;
      }
      .char{
          width: 100%;
      }
  }
  
  @media screen and (min-width : 481px) and (max-width : 768px){
      nav{
          padding: 20px;
      }
      nav .nav-right ul{
          display: none;
      }
      nav .menu{
          display: block;
      }
  
      header h2{
          left: 40%;
      
      }
      .house{
          width: 48%;
      }
      .char{
          width: 48%;
      }
  }